{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid d-flex p-0">

        <div class="min-vh-100 bg-white col-2 text-center justify-content-center pt-3" style="border-radius: 5%">
            <div class="container d-flex justify-content-between align-items-center px-4">
                <h5 class="fw-normal">
                    Courses
                </h5>
                {% if request.user.is_authenticated %}
                    {% if is_prof %}
                        <a class="btn m-0 p-0" href="{% url 'course_create' %}" title="Create course">
                            <img src="{% static 'images/plus-logo.svg' %}" style="height: 20px; width: 20px">
                        </a>
                    {% elif is_student %}
                        <a class="btn m-0 p-0" href="{% url 'course_enroll_choose' %}" title="Enroll in course">
                            <img src="{% static 'images/plus-logo.svg' %}" style="height: 20px; width: 20px">
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col d-flex flex-column w-75 mx-auto my-1">
                {% for course in courses %}
                    <a href="{% url 'course' course.id %}" class="btn bg-primary mb-2"
                       style="min-height: 30px;">
                        <p class="m-0 fw-bold text-start text-black" style="white-space: wrap; font-size: 12px">
                            {{ course.name }}
                        </p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="container align-items-center d-flex pt-2">
                <a href="{% url 'home' %}" class="btn">
                    <img src="{% static 'images/arrow-logo.svg' %}" width="30px" height="30px">
                </a>
                <p class="font-weight-bold fs-3 fw-bold m-0">
                    Grading Studio
                </p>
            </div>
            <div class="container row justify-content-between">
                {% for exam in exams %}
                    <div class="card mx-3 my-2 col-5 rounded-4">
                        <div class="card-body fw-bold d-flex justify-content-between align-items-center">
                            <p class="fs-4 m-0 p-0">{{ exam.title }}</p>
                            <a class="btn btn-primary rounded-pill w-50 text-center" style="height: 40px" href="#">Open</a>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}